.div1 {
  color: "#0D0B35";
  /* background-image: url("../../../public/resources/bg-haikei.svg"); */
  background-image: url("../../../public/resources/images/WPDog.jpg");
  background-size: 100% 100%;
  padding: 2% 6%;
}

.flex-container {
  display: flex;
  justify-content: space-around; }
  .flex-container div {
    margin: auto 0;
    width: calc(100%/2); }

.img {
  display: grid;
  place-items: center; }